# Loading the libraries

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

# Loading the dataset

In [28]:
data = pd.read_csv('EmployeeSurvey.csv')

# Intitial exploration of the data

In [29]:
print("First 5 rows⬇️:\n")
print(data.head())
print("\nLast 5 rows⬇️:\n")
print(data.tail())
print("\nGeneral information about the dataset⬇️:\n")
print(data.info())
print(f"\nRows with at least one null value: {data.isnull().any(axis=1).sum()}")

First 5 rows⬇️:

   Emp ID  satisfaction_level  last_evaluation  number_project  \
0     1.0                0.38             0.53             2.0
1     2.0                0.80             0.86             5.0
2     3.0                0.11             0.88             7.0
3     4.0                0.72             0.87             5.0
4     5.0                0.37             0.52             2.0

   average_montly_hours  time_spend_company  Work_accident  \
0                 157.0                 3.0            0.0
1                 262.0                 6.0            0.0
2                 272.0                 4.0            0.0
3                 223.0                 5.0            0.0
4                 159.0                 3.0            0.0

   promotion_last_5years   dept  salary
0                    0.0  sales     low
1                    0.0  sales  medium
2                    0.0  sales  medium
3                    0.0  sales     low
4                    0.0  sales     low

Last 5 rows⬇️:

        Emp ID  satisfaction_level  last_evaluation  number_project  \
15782  14995.0                0.40             0.57             2.0
15783  14996.0                0.37             0.48             2.0
15784  14997.0                0.37             0.53             2.0
15785  14998.0                0.11             0.96             6.0
15786  14999.0                0.37             0.52             2.0

       average_montly_hours  time_spend_company  Work_accident  \
15782                 151.0                 3.0            0.0
15783                 160.0                 3.0            0.0
15784                 143.0                 3.0            0.0
15785                 280.0                 4.0            0.0
15786                 158.0                 3.0            0.0

       promotion_last_5years     dept salary
15782                    0.0  support    low
15783                    0.0  support    low
15784                    0.0  support    low
15785                    0.0  support    low
15786                    0.0  support    low

General information about the dataset⬇️:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15787 entries, 0 to 15786
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Emp ID                 14999 non-null  float64
 1   satisfaction_level     14999 non-null  float64
 2   last_evaluation        14999 non-null  float64
 3   number_project         14999 non-null  float64
 4   average_montly_hours   14999 non-null  float64
 5   time_spend_company     14999 non-null  float64
 6   Work_accident          14999 non-null  float64
 7   promotion_last_5years  14999 non-null  float64
 8   dept                   14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(8), object(2)
memory usage: 1.2+ MB
None

Rows with at least one null value:


Rows with at least one null value: 788

# Improving the quality of data
###### Since there are not much null values in comparison to the general size of the dataset - the best solution for the precision of the future predictions will be simply from them.

In [30]:
data = data.dropna()
print(f"\nRows with at least one null value: {data.isnull().any(axis=1).sum()}")

Rows with at least one null value: 0

### I'm interested to explore just the sales department, as it is one of the most numerous in the dataset, and different professions usually have different career  patterns, what will decrease the predictions accuracy significantly.

In [ ]:
sales_data = data[data['dept'] == 'sales']